
<div class="card_area d-flex justify-content-between align-items-center">
    <div class="product_count">
        <span class="inumber-decrement"> <i class="ti-minus"></i></span>
        <input class="input-number" type="text" value="1" min="0" max="10">
        <span class="number-increment"> <i class="ti-plus"></i></span>
    </div>
    <a href="#" class="btn_3">add to cart</a>
    <a href="#" class="like_us"> <i class="ti-heart"></i> </a>
</div>