
<aside class="left_widgets p_filter_widgets">
    <div class="l_w_title">
        <h3>Product filters</h3>
    </div>
    <div class="widgets_inner">
        <ul class="list">
            <li>
                <a href="#">Apple</a>
            </li>
            <li>
                <a href="#">Asus</a>
            </li>
            <li class="active">
                <a href="#">Gionee</a>
            </li>
            <li>
                <a href="#">Micromax</a>
            </li>
            <li>
                <a href="#">Samsung</a>
            </li>
        </ul>
        <ul class="list">
            <li>
                <a href="#">Apple</a>
            </li>
            <li>
                <a href="#">Asus</a>
            </li>
            <li class="active">
                <a href="#">Gionee</a>
            </li>
            <li>
                <a href="#">Micromax</a>
            </li>
            <li>
                <a href="#">Samsung</a>
            </li>
        </ul>
    </div>
</aside>
