@{
    Layout = null;
}
<!doctype html>
<html lang="zxx">
@await Component.InvokeAsync("_UIAranozHeadComponentPartial")
<body>
    <!--Navbar start::-->
    @await Component.InvokeAsync("_UIAranozNavbarComponentPartial")
    <!-- Search kısmın Component yolu Navbarın içinde end-->
    <!-- Navbar end-->
    @RenderBody()
    <!--::footer_part start::-->
    @await Component.InvokeAsync("_UIAranozFooterComponentPartial")
    <!--::footer_part end::-->
    @await Component.InvokeAsync("_UIAranozScriptComponentPartial")
</body>
</html>
