@{
    ViewData["Title"] = "ProductList";
    Layout = "~/Views/Shared/_UIAranozLayout.cshtml";
}

<!doctype html>
<html lang="zxx">
@*    Buradaki View componentsler ProductViewComponents içerisinde bulunan ProductListComponents içerisinde *@
<body>
    <!--::header part start::-->
    @await Component.InvokeAsync("ProductListHeaderComponentPartial")
    <!-- Header part end-->
    <!--================Home Banner Area =================-->
    <!-- breadcrumb start-->
    <!-- breadcrumb start-->
    <!--Normalde sectionın hepsini bir componentsin içine almıştım geri böyle yaptım isteğe göre düzelte bilirim. -->

    <section class="cat_product_area section_padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="left_sidebar_area">
                        @await Component.InvokeAsync("ProductListCategoryFilterComponentPartial")
                        @await Component.InvokeAsync("ProductListProductFilterComponentPartial")
                        @await Component.InvokeAsync("ProductListColorFilterComponentPartial")
                        @await Component.InvokeAsync("ProductListPriceFilterComponentPartial")
                    </div>
                </div>
                <div class="col-lg-9">
                    @await Component.InvokeAsync("ProductListProducNavbarFilterComponentPartial")
                    <!-- Ürünlerin listelenmesi ve içinde Sayfa numaralandırma components menüsü PageList var-->
                    @await Component.InvokeAsync("ProductListGetListProductComponentPartial")
                </div>
            </div>
        </div>
    </section>
    @await Component.InvokeAsync("DefaultBestSellerComponentPartial")
    <!-- Burada bazı scriptler layoutdakiyle çakışıyor olabilir ufak bir hata var onunla ilgileneceğim-->
   
    <script src="~/aranoz-master/js/jquery-1.12.1.min.js"></script>
    <!-- popper js -->
    <script src="~/aranoz-master/js/popper.min.js"></script>
    <!-- bootstrap js -->
    <script src="~/aranoz-master/js/bootstrap.min.js"></script>
    <!-- easing js -->
    <script src="~/aranoz-master/js/jquery.magnific-popup.js"></script>
    <!-- swiper js -->
    <script src="~/aranoz-master/js/swiper.min.js"></script>
    <!-- swiper js -->
    <script src="~/aranoz-master/js/masonry.pkgd.js"></script>
    <!-- particles js -->
    <script src="~/aranoz-master/js/owl.carousel.min.js"></script>
    <script src="~/aranoz-master/js/jquery.nice-select.min.js"></script>
    <!-- slick js -->
    <script src="~/aranoz-master/js/slick.min.js"></script>
    <script src="~/aranoz-master/js/jquery.counterup.min.js"></script>
    <script src="~/aranoz-master/js/waypoints.min.js"></script>
    <script src="~/aranoz-master/js/contact.js"></script>
    <script src="~/aranoz-master/js/jquery.ajaxchimp.min.js"></script>
    <script src="~/aranoz-master/js/jquery.form.js"></script>
    <script src="~/aranoz-master/js/jquery.validate.min.js"></script>
    <script src="~/aranoz-master/js/mail-script.js"></script>
    <script src="~/aranoz-master/js/stellar.js"></script>
    <script src="~/aranoz-master/js/price_rangs.js"></script>
    <!-- custom js -->
    <script src="~/aranoz-master/js/custom.js"></script>
</body>

</html>

