<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>aranaz</title>
    <link rel="icon" href="~/aranoz-master/img/favicon.png">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/aranoz-master/css/bootstrap.min.css">
    <!-- animate CSS -->
    <link rel="stylesheet" href="~/aranoz-master/css/animate.css">
    <!-- owl carousel CSS -->
    <link rel="stylesheet" href="~/aranoz-master/css/owl.carousel.min.css">
    <!-- font awesome CSS -->
    <link rel="stylesheet" href="~/aranoz-master/css/all.css">
    <!-- flaticon CSS -->
    <link rel="stylesheet" href="~/aranoz-master/css/flaticon.css">
    <link rel="stylesheet" href="~/aranoz-master/css/themify-icons.css">
    <!-- font awesome CSS -->
    <link rel="stylesheet" href="~/aranoz-master/css/magnific-popup.css">
    <!-- swiper CSS -->
    <link rel="stylesheet" href="~/aranoz-master/css/slick.css">
    <!-- style CSS -->
    <link rel="stylesheet" href="~/aranoz-master/css/style.css">
</head> 
