
<div class="product_image_area section_padding">
    <div class="container">
        <div class="row s_product_inner justify-content-between">
            <div class="col-lg-7 col-xl-7">
                <div class="product_slider_img">
                    <div id="vertical">
                        <div data-thumb="img/product/single-product/product_1.png">
                            <img src="~/aranoz-master/img/product/single-product/product_1.png" />
                        </div>
                        <div data-thumb="img/product/single-product/product_1.png">
                            <img src="~/aranoz-master/img/product/single-product/product_1.png" />
                        </div>
                        <div data-thumb="img/product/single-product/product_1.png">
                            <img src="~/aranoz-master/img/product/single-product/product_1.png" />
                        </div>
                        <div data-thumb="img/product/single-product/product_1.png">
                            <img src="~/aranoz-master/img/product/single-product/product_1.png" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-xl-4">
                <div class="s_product_text">
                    <h5>previous <span>|</span> next</h5>
                    <h3>Faded SkyBlu Denim Jeans</h3>
                    <h2>$149.99</h2>
                    <ul class="list">
                        <li>
                            <a class="active" href="#">
                                <span>Category</span> : Household
                            </a>
                        </li>
                        <li>
                            <a href="#"> <span>Availibility</span> : In Stock</a>
                        </li>
                    </ul>
                    <p>
                        First replenish living. Creepeth image image. Creeping can't, won't called.
                        Two fruitful let days signs sea together all land fly subdue
                    </p>
                    @await Component.InvokeAsync("ProductDetailIAddBasketButonComponentPartial")
                </div>
            </div>
        </div>
    </div>
</div>
